@charset "utf-8";
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot');
	/* IE9*/
	src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../iconfont/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 44px;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	color: #34495e;
}

a{
	text-decoration: none;
	color: #34495e;
}


section {
	width: 100%;
	height: 1450px;
	background-color: #eff3f5;
}

section .top{
	width: 1180px;
	height: 80px;
	margin: 0 auto;
}

section .top .top_left{
	float: left;
	width: 840px;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	font-weight: bold;
}

section .top .top_left>ul{
	float: right;
	width: 320px;
	height: 40px;
	margin: 20px 0;
	font-weight: 400;
}

section .top .top_left>ul>li{
	list-style: none;
	float: left;
	width: 95px;
	height: 40px;
	line-height: 40px;
	margin-left: 10px;
	text-align: center;
}

section .top .top_left>ul>li>a{
	display: block;
	width: 95px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #bdc3c7;
	border-radius: 20px;
}

section .top .top_left>ul>li>a:hover{
	color: #3498db;
	border: 1px solid #3498db;
}

section .top .top_left>a:hover{
	color: #3498db;
}

section .top .top_left>ul>li:nth-of-type(2)>a{
	border: none;
}

section .top .top_left>ul>li:nth-of-type(3)>a{
	border: none;
}

section .top .top_right{
	float: right;
	width: 280px;
	height: 80px;
	padding: 20px 0;
	box-sizing: border-box;
}

section .top .top_right .seache{
	float: left;
	width: 135px;
	height: 40px;
	border: 1px solid #ced7de;
	border-radius: 20px;
}

section .top .top_right .seache>input[type=text]{
	float: left;
	width: 80px;
	height: 20px;
	margin: 10px 0;
	border: none;
	outline: none;
	margin-left: 15px;
	margin-right: 5px;
	font-size: 12px;
	background-color: #eff3f5;
	border-right: 1px solid #ced7de;
}


section .top .top_right .seache>button{
	height: 40px;
	width: 30px;
	font-size: 20px;
	color: #ced7de;
	background-color: rgba(0,0,0,0);
	outline: none;
	border: none;
}

section .top .top_right .seache>button{
	height: 40px;
	width: 30px;
	font-size: 20px;
	background-color: rgba(0,0,0,0);
	outline: none;
	border: none;
}

section .top .top_right .seache>button>a{
	color: #ced7de;
	display: block;
	height: 40px;
	width: 30px;
	text-align: center;
	line-height: 40px;
}

section .top .top_right .seache>a{
	display: inline-block;
	height: 40px;
	width: 30px;
	line-height: 40px;
	border: 1px solid cadetblue;
}

section .top .top_right>a>span{
	float: right;
	width: 120px;
	height: 40px;
	font-size: 14px;
	color: white;
	line-height: 40px;
	text-align: center;
	background-color: #3498db;
	border: none;
	border-radius: 2px;
}

section .content{
	width: 1180px;
	margin: 0 auto;
}

section .content .content_left{
	float: left;
	width: 840px;
}

section .content .content_right{
	float: right;
	width: 280px;
	height: 1000px;
}

section .content .content_right .top{
	width: 280px;
	height: 140px;
}

.tit{
	width: 280px;
	height: 25px;
	margin: 20px 0;
	line-height: 25px;
}

.tit>b{
	font-size: 14px;
	font-weight: 100;
	height: 20px;
}

.tit>a{
	font-size: 12px;
	height: 20px;
	float: right;
	color: #3498db;
}

section .content .content_right .top>ul>li{
	list-style: none;
	float: left;
	font-size: 12px;
	height: 28px;
	padding: 0 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 28px;
	border: 1px solid #ced7de;
	border-radius: 5px;
}

section .content .content_right .bottom>ul>li{
	list-style: none;
	width: 280px;
	height: 60px;
	margin-top: 20px;
	border-bottom: 1px solid #ced7de;
	padding-bottom: 20px;
}

section .content .content_right .bottom>ul>li>img{
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
}

section .content .content_right .bottom>ul>li>a{
	font-size: 16px;
}

section .content .content_right .bottom>ul>li>a:hover{
	color: #3498db;
}

section .content .content_right .bottom>ul>li>p{
	font-size: 12px;
}

section .content .content_right .bottom>ul>li>p:nth-of-type(1){
	color: #7f8c8d;
	width: 210px;
	margin: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

section .content .content_left>ul>li{
	list-style: none;
	width: 840px;
	height: 137px;
	padding: 14px 0;
	box-sizing: border-box;
	border-top: 1px solid #ced7de;
}

section .content .content_left>ul>li:hover .li_cont .info>span{
	display: inline-block;
}

section .content .content_left>ul>li>span{
	float: left;
	display: block;
	width: 60px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	background-color: #ced7de;
}

section .content .content_left .li_cont{
	float: right;
	width: 760px;
}

section .content .content_left .li_cont>h3{
	width: 760px;
	height: 30px;
	font-size: 16px;
	line-height: 24px;
}

section .content .content_left .li_cont>h3>span{
	float: left;
	display: block;
	width: 36px;
	height: 24px;
	font-size: 12px;
	margin-right: 10px;
	color: white;
	text-align: center;
	background-color: #ff0000;
}

section .content .content_left .li_cont>h3>a{
	display: inline-block;
	width: 650px;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section .content .content_left .li_cont>h3>a:hover{
	color: #3498db;
}

section .content .content_left .li_cont .info{
	width: 760px;
	height: 16px;
	padding: 5px 0;
	font-size: 12px;
}

section .content .content_left .li_cont .info>a,
section .content .content_left .li_cont .info>span{
	display: inline-block;
	margin-right: 20px;
	color: #7f8c8d;
}

section .content .content_left .li_cont .info>a:hover{
	color: #3498db;
}

section .content .content_left .li_cont .info>span:nth-of-type(3)>a,
section .content .content_left .li_cont .info>span:nth-of-type(4)>a{
	color: #3498db;
}

section .content .content_left .li_cont .info>span:nth-of-type(3):hover >a{
	text-decoration: underline;
}

section .content .content_left .li_cont .info>span:nth-of-type(4):hover >a{
	text-decoration: underline;
}

section .content .content_left .li_cont .info>span:nth-of-type(3),
section .content .content_left .li_cont .info>span:nth-of-type(4){
	display: none;
}

section .content .content_left .li_cont>p{
	font-size: 13px;
	line-height: 26px;
}

