*{
	padding: 0;
	margin: 0;
}
#instru{
	margin: 0 auto;
	width: 1125px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}
ul li{
	list-style: none;
	
}
#instru .header{
	height: 146px;
	
}
#instru .header-top{
	height: 35px;
	line-height: 35px;
	background-color: #ecf0f1;
}
#instru .header-top span{
	margin-left: 25px;
	font-size: 12px;
	float: left;
}
#instru .header-top div{
	float: right;
	height: 35px;
	line-height: 35px;
}
#instru .header-top-right a{
	border-right: 1px solid #878b8c;
	padding:0 10px ;
}
#instru .header-top-right .header-top-right-t{
	border-right: none;
}

#instru .header-bottom{
	height: 110px;
	background-color: #ffffff;
}
#instru .header-bottom .header-bottom-left{
	width: 380px;
}
#instru .header-bottom-right{
	margin-left: 625px;
}
#instru .header-bottom .header-bottom-left img{
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
#instru .header-bottom .header-bottom-left h2,
#instru .header-bottom .header-bottom-left span{
	float: left;
	padding-left: 20px;
	}
#instru .header-bottom .header-bottom-left h2{
	margin-top: 25px;
	margin-bottom: 5px;
	color: #3786b9;
}
#instru .header-bottom .header-bottom-left span{
	color: #bdc2c8;
}
#instru .header-bottom-right img{
	margin-right: 50px;
	margin-top: 30px;
}
#instru .header-bottom-right p,
#instru .header-bottom-right span{
	float: left;
	margin-left: 290px;
	margin-top: -50px;
	font-size: 14px;
}
#instru .header-bottom-right span{
	margin-top: -25px;
	color: #e45040;
	font-size: 1em;
}
/***********header书写完毕*************/
#instru .nav{
	height: 50px;
	background-color: #3898db;
}
#instru .nav ul{
	margin-left: 20px;
}
#instru .nav ul li{
	float: left;
	width: 135px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
}
#instru .nav ul li:hover{
	background-color: #2c80b9;
}
#instru .nav ul li a{
	color: white;
}
/*nav标题栏书写完毕*/
#instru .banner img{
	height: 400px;
}
/*banner栏书写完毕*/
#instru .news{
	height: 110px;
}
#instru dl{
	list-style: none;
	margin-left: 25px;
	height: 50px;
	border: 1px solid #d6d6d6;
}
#instru dl dt{
	float: left;
	width: 123px;
	height: 48px;
	text-align: center;
	line-height: 48px;
}
#instru dl dt a{
	color: #e85039;
}
#instru dl dd{
	float: left;
	margin-right: 30px;
	height: 48px;
	line-height: 48px;
}
/*news书写完毕*/
#instru .themes{
	height: 500px;
	background-color: deepskyblue;
}
#instru .product{
	height: 360px;
}
